@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}

.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.section-title span{
    color: crimson;
}

.cta{
    display:inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease background-color;
    transition-property: background-color, color;
}
.cta:hover{
    color: white;
    background-color: crimson;
}

/* Header */
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;

}
#header .header{
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);

}
.header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
.header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgba(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: center;
}
.header .nav-list ul.active{
    left: 0;
}
#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .hamburger{
    z-index: 100;
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content:'';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after{
    top: 8px;
}
#header .hamburger .bar::before{
    bottom: 8px;
}

#header .hamburger.active .bar::after{
    top: 0;
}
#header .hamburger.active .bar::before{
    bottom: 0;
}

/* End HEader */


/* Hero section */
#hero{
   background-image: url(img/img1.jpeg);
   background-color:black;
   background-size: cover;
   background-position: top center;
   position: relative; 


    content: '';
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .8;
}
.brand h1{
    font-size: 2.6rem;
    text-transform: uppercase;
    color:white;
}
.brand h1 span{
    color: crimson;
}
/* 

#hero::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .1;
}
 */
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1{
    display:block;
    width:fit-content;
    font-size: 6rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}

#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}
#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}
/* end Hero section */


/* About section */
#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about img{
    width: 350px;
    height: 450px;
    border: 7px solid white;
}
#about .col-right{
    width: 100%;
}
#about .col-right h2{
    font-size: 1.8rem;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}
#about .col-right p{
    margin-bottom: 15px;
}
#about .col-right .cta{
    color: black; 
    font-weight: 400;
    margin-bottom: 50px;
    font-size: 2rem;
}
#about .about-img{
    position: relative;
}
#about .col-left .about-img{
    position: relative;
    height: 100%;
    width: 100%;
    border: 10px solid white;
}

#about .about-img:after{
    content: '';
    position: absolute;
    left: -33px;
    top: 29px;
    height: 98%;
    width: 98%;
    border: 7px solid crimson;
    z-index: -1;
}

/* End of About section */


/* projects */
#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#projects .projects-header{
    margin-bottom: 30px;
}
#projects .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#projects .project-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
}
#projects .project-info h1{
    font-size: 4rem;
    font-weight: 500;
}
#projects .project-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}
#projects .project-info p{
    color: white;
}
#projects .project-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.7;
}
#projects .project-img img{
    transition: .3s ease transform;
}
#projects .project-item:hover .project-img img{
    transform: scale(1.1);
}

/* 
#projects .projects-img:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
}
 */
/* end of projects section */


/* Contact section */
#contact .contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#contact .contact-items{
    width: 100%;
}
#contact .contact-item{
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
}
#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}
#contact .contact-info h2{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
}

/* Footer */
#footer{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    flex-direction: row;
}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer .social-icon{
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
}
#footer .social-item{
    height: 65px;
    width: 65px;
    margin: 0 10px;
}
#footer .social-item img{
    filter: grayscale(1);
}
#footer .social-item:hover img{
    filter: grayscale(0);
}
#footer p{
    color: white;
    font-size: 1.3rem;
}
/* End footer */


/* End of Contact section */
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: crimson;
    }
}
/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}

    #contact .contact-items{
        width: 100%;
        display:flex;
    }
}
/* End  Media Query For Desktop */
