html{
    background-color: #E4E9FD;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #A683E3;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #A683E3, #A283E3, #b67fe9, #b27fe9);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #A683E3, #A283E3, #b67fe9, #b27fe9);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }